@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev::before,
.slick-next::before,
.slick-arrow,
.slick-next {
  display: none !important;
  content: "";
}

.slick-dots-bottom {
  margin: 0 !important;
  padding: 0 !important;
}

.ant-carousel .slick-dots li button:before {
  display: none;
}

.container {
  max-width: 960px !important;
}

#basic_taiKhoan {
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  padding: 4px 11px;
  font-size: 14px;
}
.movie-tab-2 {
  height: 85vh;
}
.border-blue-600 {
  border-color: #f05252;
}
.text-blue-600,
.text-blue-600:hover,
.hover\:text-blue-600:hover {
  color: #f05252 !important;
}

@media screen and (max-width: 1024px) {
  .movie-tab {
    display: none;
  }
  header {
    position: absolute;
    width: 100%;
    z-index: 4;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .blogs {
    margin-top: 80px;
  }
  #profile img {
    width: 100%;
  }
  #profile .text-sm {
    margin-bottom: 40px;
  }
  .user-nav {
    padding-left: 8px;
  }
}

@media screen and (max-width: 639px) {
  #myTabContent .text-sm {
    margin-bottom: 20px;
  }
  .cyber-logo {
    height: 40px;
    widows: 40px;
  }
  .user-nav {
    padding-left: 8px;
  }
}
